:root {
  font-size: 12px;
  font-family: 'Mina', sans-serif; }

/*
 *  Color scheme https://coolors.co/f9c80e-5da9e9-12355b-dd3716-0d8433
 */
.badge {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 15px;
  margin-top: 10px;
  color: white;
  border-radius: 3px;
  font-size: 1.3rem; }
  .badge--income {
    background-color: #0d8433; }
  .badge--expenses {
    background-color: #dd3716; }

.badge__title {
  flex: 4; }

.badge__number {
  flex: 3;
  text-align: right;
  margin-right: 10px; }

.badge__percentage {
  flex: 0.5;
  background-color: rgba(255, 255, 255, 0.12);
  padding: 3px 6px;
  border-radius: 2px;
  font-size: 0.8rem;
  text-align: center; }
  .badge__percentage:empty {
    background: none; }

.main_bg {
  height: 400px;
  background-image: url("https://source.unsplash.com/random");
  background-position-y: center;
  background-size: cover;
  display: flex;
  align-items: center; }

.main_title {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px black; }

.main_budget {
  font-size: 5rem;
  color: white;
  text-align: center;
  text-shadow: 2px 2px black; }

.main_input {
  background-color: rgba(128, 128, 128, 0.12);
  padding: 15px 0;
  border-bottom: 2px solid rgba(128, 128, 128, 0.2); }

.form_input {
  width: 100%;
  height: 36px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 6px 10px;
  border-radius: 3px; }
  .form_input:focus {
    outline: 0;
    border-color: #0d8433; }

.form_button {
  width: 100%;
  height: 36px;
  background: none;
  border: 0;
  font-size: 2rem;
  color: #dd3716;
  line-height: 1;
  cursor: pointer; }
  .form_button:focus {
    outline: 0; }

.history {
  margin-top: 40px;
  margin-bottom: 60px; }

.history__title {
  font-size: 2rem;
  margin-bottom: 15px;
  text-transform: uppercase; }
  .history__title--income {
    color: #0d8433; }
  .history__title--expenses {
    color: #dd3716; }

.history__container {
  display: flex;
  flex-wrap: wrap; }

.history__item {
  width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  display: flex;
  font-size: 1.3rem;
  position: relative;
  background-color: rgba(128, 128, 128, 0.09);
  padding: 10px 15px; }
  .history__item:last-child {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3); }
  .history__item:hover .history__item_amount {
    margin-right: 30px; }
  .history__item:hover .history__item_remove {
    visibility: visible; }

.history__item_title {
  flex: 4; }

.history__item_amount {
  flex: 2;
  text-align: right;
  z-index: 1;
  position: relative;
  margin-right: 0;
  transition: margin-right 0.5s;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: #f4f4f4; }
  .history__container--income .history__item_amount {
    color: #0d8433; }
  .history__container--expenses .history__item_amount {
    color: #dd3716; }

.history__item_badge {
  margin-left: 10px;
  flex: 0.5;
  background-color: rgba(221, 55, 22, 0.12);
  padding: 3px 6px;
  border-radius: 2px;
  font-size: 0.8rem;
  text-align: center;
  vertical-align: middle; }

.history__item_remove {
  color: #dd3716;
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
  transition: visibility .1s; }
  .history__item_remove:before {
    content: "\f1f8";
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900; }

/*# sourceMappingURL=styles.css.map */
