div.container
  div.row
    div.col-12.col-sm-6
      h2.history__title.history__title--income Income
      div.history__container.history__container--income
    div.col-12.col-sm-6
      h2.history__title.history__title--expenses Expenses
      div.history__container.history__container--expenses
