div.container
  div.row
    div.col-12.col-sm-6.offset-sm-3
      h4.main_title Budget
      h2.main_budget 0
      div.d-flex.flex-wrap
        div.badge.badge--income
          div.badge__title Income
          div.badge__number 0
          div.badge__percentage
        div.badge.badge--expenses
          div.badge__title Expenses
          div.badge__number 0
          div.badge__percentage
