head
  meta(charset='utf-8')
  title Simple Budget App
  meta(name="theme-color" content="#dd3716")
  meta(name="description" content="Simple Budget App")
  meta(name="viewport" content="width=device-width" initial-scale="1.0" viewport-fit="cover")
  link(href="https://fonts.googleapis.com/css?family=Mina", rel="stylesheet")
  link(href="assets/css/styles.css", rel="stylesheet")
  link(href="https://use.fontawesome.com/releases/v5.0.6/css/all.css", rel="stylesheet")
