doctype html
html(lang="en")
  include includes/head
  body
    div.wrapper
      section.main_bg
        include includes/budget_result
      main.main_input
        include includes/budget_input
      section.history
        include includes/budget_history
  script(src="javascript.js")
