div.container
  div.row
    div.col-6.offset-3.mt-4.mb-4
      h4.main_title Budget
      h2.main_budget +1,400,00
      div.d-flex.flex-wrap
        div.badge.badge--income
          div.badge__title Income
          div.badge__number +3,000.00
          div.badge__percentage
        div.badge.badge--expenses
          div.badge__title Expenses
          div.badge__number -3,000.00
          div.badge__percentage 65%
