.badge {
  display       : flex;
  align-items   : center;
  width         : 100%;
  padding       : 8px 15px;
  margin-top    : 10px;
  color         : white;
  border-radius : 3px;
  font-size : 1rem;
  &--income {
    background-color : $green-color;
  }
  &--expenses {
    background-color : $red-color;
  }
}
.badge__title {
  flex      : 4;
}
.badge__number {
  flex         : 3;
  text-align   : right;
  margin-right : 10px;
}
.badge__percentage {
  flex             : 0.5;
  background-color : darken($red-color, 12%);
  padding          : 0 6px;
  border-radius    : 2px;
  font-size        : 0.8em;
  text-align       : center;
  &:empty {
    background : none;
  }
}
